.article{
    width: 100%;
    height: 950px;
    background: #eceaeb;
    .article__container{
        width: 1200px;
        // height: auto;
        margin: auto;
        // margin-top: 50px;
        padding-top: 50px;
        .article__left{
            width: 50%;
            float: left;

            h1{
                font-size: 50px;
                text-transform: capitalize;
                margin-bottom: 50px;
            }
            .article__background{
                background: #fff;
                width: calc(100% - 10px);
                .article__post{
                    padding: 30px 0px;
                    overflow: hidden;
                    width: 90%;
                    margin: auto;
                    img{
                        width: 35%;
                        float: left;
                        border-radius: 10px;
                        margin-right: 20px;
                    }
                    h1{
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 18px;
                        text-transform: capitalize;
                        margin-bottom: 20px;
                        color: #838383;
                    }
                    .lorem{
                        font-size: 18px;
                    }
                }
                .article__post:nth-of-type(2){
                    border-top: 1px solid #838383;
                }

                .article__post:nth-of-type(3){
                    border-top: 1px solid #838383;
                }
            }

            .button{
                width: calc(100% - 10px);
                margin-top: 30px;

                p{
                    float: right;
                    background: #e6c981;
                    padding: 10px 25px;
                    font-size: 22px;
                    text-transform: capitalize;
                    font-weight: bold;
                    border-radius: 5px;
                }
            }
        }

        .article__right{
            width: 47%;
            float: right;
            h1{
                font-size: 50px;
                text-transform: capitalize;
                margin-bottom: 50px;
            }
            .container__article{
                width: 100%;
                height: 565px;

                .article__box{
                    background: #fff;
                    height: calc(50% - 15px);
                    padding: 30px 20px;


                    .article__box__left{
                        width: 30%;
                        float: left;
                        margin-right: 20px;
                        height: 100%;

                        div{
                            background: #e6c981;
                            height: 50%;
                            text-align: center;
                            // line-height: 100%;
                            border-radius: 10px 10px 0 0;
                            h2{
                                font-size: 50px;
                                // margin-bottom: 20px;
                                padding-top: 10px;
                            }
                            h3{
                                font-size: 22px;
                            }
                        }
                        p{
                            font-size: 22px;
                            text-align: center;
                            padding: 10px;
                            background: #040142;
                            color: #fff;
                            border-radius: 0 0 10px 10px;
                        }
                    }
                    .article__box__right{
                        font-size: 18px;
                        h2{
                            font-size: 22px;
                            margin-bottom: 20px;
                        }
                        p{
                            line-height: 23px;
                        }
                        div{
                            color: #1f16d7;
                            margin-top: 20px;
                            p{
                                float: left;
                                border-right: 3px solid #838383;
                                padding-right: 20px;
                                margin-right: 20px;
                            }

                        }
                    }
                }
                .article__box:nth-of-type(2){
                    margin-top: 30px;
                }
            }

            .button{
                width: calc(100% - 10px);
                margin-top: 30px;
            
                p{
                    float: right;
                    background: #e6c981;
                    padding: 10px 25px;
                    font-size: 22px;
                    text-transform: capitalize;
                    font-weight: bold;
                    border-radius: 5px;
                }
            }
        }
    }
}

